@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mb-4">
    <h1 class="text-3xl sm:text-4xl font-bold">Aspnetcore + Tailwind 4</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core and Tailwind 4</a>.</p>
</div>
